<div class="container clearfix">
	<div id="main-holder" role="main">	
		<section id="main-content">
	    	<div class="columns">
	            <div class="block clearfix">
	            <header class="section-headline">
	                <h3><span class="blue">Create an Auction to repay social debt</span></h3>
	            </header>
				<%= form_for(@auction) do |f| %>
				  <% if @auction.errors.any? %>
				    <div id="error_explanation">
				      <h2><%= pluralize(@auction.errors.count, "error") %> prohibited this auction from being saved:</h2>

				      <ul>
				      <% @auction.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
				      </ul>
				    </div>
				  <% end %>
				  <div class="field">
				    <%= f.label "Auction Title" %><br />
				    <%= f.text_field :title %>
				  </div>
				  <div class="field">
				    <%= f.label "Description of the skills you are auctioning (ie web design, dog walking, etc)" %><br />
				    <%= f.text_area :description %>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
				</div>
			</div>
		</section>
	</div>
</div>
